* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 229, 229);
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(235, 229, 229) no-repeat center center fixed;
  background-size: cover;
}

.SearchBox {
  color: white;

  padding: 0rem !important;
  font-size: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .logo {
    display: none;
  }

  .SearchBox {
    display: flex;
    flex-direction: row;
  }
  .SearchBox form #outlined-basic {
    width: 50% !important;
  }
}
